body {
  padding: 0;
  background: #eceafc;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .brand h4 {
  margin: 2rem;
  padding-bottom: 8px;
  font-size: 30px;
  font-family: "Rampart One", cursive;
  box-shadow: 0.3rem 0.3rem 0.2rem #c8d0e7, -0.2rem -0.2rem 0.4rem #fff;
  padding: 0 10px;
}
.navbar-links ul {
  margin: 0;
  padding-right: 1.5rem;
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
  padding: 20px;
  margin-right: 20px;
}

.navbar-links ul li a {
  box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7,
    inset -0.2rem -0.2rem 0.5rem #fff;
  padding: 0 20px;
  color: black;
  text-decoration: none;
  font-size: 22px;
  font-weight: 900;
}
.navbar-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #d3468f;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar-links ul li:hover::after {
  width: 100%;
}
/* styling dropdown menu icons for responsiveness*/
#responMenuToggleBtn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
#responMenuToggleBtn svg {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  color: black;
  top: 0.75rem;
  right: 0.75rem;
}
#responMenuToggleBtn .openIcon {
  display: block;
}
#responMenuToggleBtn .closeIcon {
  display: none;
}
#responMenuToggleBtn.open .openIcon {
  display: none;
}
#responMenuToggleBtn.open .closeIcon {
  display: block;
}
/* dropdown menu resizing for responsiveness */
@media screen and (max-width: 775px) {
  #responMenuToggleBtn {
    display: block;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links.open {
    display: block;
  }
  .navbar-links ul {
    flex-direction: column;
    padding: 1rem 1.3rem;
  }
  .navbar-links ul li a {
    font-size: 14px;
  }
  .navbar-links ul li:hover::after {
    width: 0%;
  }
  .navbar-links ul li a:hover {
    border-bottom: 2px solid #d3468f;
    padding-bottom: 3px;
  }
  .navbar .brand h4 {
    margin: 0 1rem;
    font-size: 16px;
    font-family: "Rampart One", cursive;
  }
}

.intro * {
  margin: 0 10px;
  font-family: "Heebo";
}
.intro {
  display: flex;
  flex-direction: row;
  column-gap: 1%;
}
h1 {
  font-family: monospace, "Heebo", "Lato", sans-serif;
  font-size: 35px;
  padding-bottom: 0.8%;
  text-align: center;
  text-shadow: 1px 0.3px 0.5px #3c80ff;
}
.intro .intro-content {
  display: flex;
  flex-flow: column wrap;
  line-height: 2.2rem;
  letter-spacing: 1px;
  font-size: large;
}
.intro .intro-content p {
  position: relative;
  margin-left: 50px;
  font-weight: 600;
  font-family: "Heebo", "Lato", sans-serif;
}
.intro .intro-content ul li {
  padding: 0.6%;
  margin-left: 35px;
  list-style: circle;
  font-weight: 600;
  font-family: "Heebo", "Lato", sans-serif;
}
.intro img {
  border: 0.5px solid #3c80ff;
  box-shadow: inset 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #cfd9ff;
  border-radius: 15px;
  height: 390px;
}
@media (max-width: 1140px) {
  h1 {
    font-size: 28px;
    text-align: center;
  }
  .intro * {
    margin: 0px;
  }
  .intro {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .intro-content p,
  ul li {
    font-size: 16px;
    font-weight: 800;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  .intro img {
    margin: 0 10% 4% 10%;
    width: 80%;
    height: auto;
  }
}
.tabs-descrip {
  font-family: "Heebo", "Lato", sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5% 4%;
  font-weight: 800;
  line-height: 2.2rem;
  letter-spacing: 1px;
  font-size: large;
}
.tabs-descrip h2 {
  text-shadow: 1px 0.3px 0.5px #3c80ff;
  font-family: monospace;
  font-size: 35px;
  text-align: center;
  font-weight: 600;
}
.tabs-descrip p {
  font-family: Heebo;
  width: auto;
  font-size: 17px;
  text-align: justify;
  letter-spacing: 1px;
}
.container {
  height: 490px;
  margin: 0 10px;
  padding: 60px 10px 35px;
  border-radius: 25px;
}
.row {
  margin: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 15px;
  box-shadow: inset 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  transition: 0.5s;
  outline-style: solid;
  outline-color: #d3468f;
}
.container .card:hover {
  height: 395px;
}
.container .card .tabsPic {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  border-radius: 12px;
  overflow: visible;
  transition: 0.5s;
}
.container .card:hover .tabsPic {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container .card .tabsPic img {
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline-style: solid;
  outline-color: #fefad1;
}
.container .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  overflow: hidden;
  padding-bottom: 30px;
  text-align: center;
  transition: 0.5s;
}
.container .card .content h3 {
  font-size: 21px;
  font-family: "Lato", "Heebo", "Karla";
  font-weight: 900;
  color: black;
  letter-spacing: 1.5px;
  text-shadow: 1px 0.3px 0.5px #3c80ff;
}
.container .card .content p {
  font-family: "Heebo", sans-serif;
  margin: 4%;
  text-align: center;
}
.container .card:hover .content {
  top: 130px;
  height: 250px;
}
.container .card .content a {
  top: 15px;
  display: block;
  text-decoration: none;
  padding-top: 4%;
}
.container .row .card .content::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #d3468f;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.container .row .card .content:hover::after {
  width: 25%;
}
@media (max-width: 948px) {
  .tabs-descrip h2 {
    font-size: 22px;
    text-align: center;
  }
  .tabs-descrip p {
    font-size: 16px;
    text-align: center;
  }
  .container {
    height: 100vh;
  }
  .row {
    gap: 100px;
  }
  .container .card .tabsPic {
    position: absolute;
    top: 20px;
    width: 250px;
    height: 220px;
  }
  .footer {
    margin-top: 15%;
  }
}
/* styling footer icons */
.footer {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 15px 0 20px;
}
.icons .fa {
  color: #d3468f;
  margin: 0 14px;
  cursor: pointer;
  padding: 18px 0;
  text-decoration: none;
}
.fa-heart-o {
  color: #0042be;
}

/* * * CS Tracks Page * * */
.tracks-container {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px 60px 35px;
}
.tracks-card {
  position: relative;
  width: 350px;
  min-height: 350px;
  background: #fff;
  border-radius: 15px;
  box-shadow: inset 0.3rem 0.3rem 0.6rem #c8d0e7, -0.2rem -0.2rem 0.5rem #fff;
  outline-style: solid;
  outline-color: #d3468f;
  margin: 15px 10px;
}
.tracks-card h4 {
  border: 1.5px outset #a382ae;
  text-align: center;
  border-radius: 5px;
  font-size: 16px;
  text-shadow: 3px 2px #f5ffe3;
  font-size: 1.1rem;
  font-weight: 700;
  padding: 6px;
  margin: 6% 10%;
}
.tracks-container .tracks-card ul li {
  text-align: justify;
  list-style-type: circle;
  font-family: "Heebo", "Lato", "Karla";
}
.tracks-container .tracks-card ul li a {
  text-decoration: none;
  font-size: 1rem;
  line-height: 8px;
}
#youtubeList {
  text-decoration: none;
  font-size: 15px;
}
/* various hovering effects for the resources links */
.tracks-card ul li a:link {
  color: black;
}
.tracks-card ul li a:visited {
  color: #660066;
}
.tracks-card ul li a:hover {
  color: hotpink;
  background: gainsboro;
}
.tracks-card ul li a:active {
  color: #885df1;
}
