#homeBody {
  margin: 0.5rem 2rem;
  padding: 0;
  background: #eceafc;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .brand img {
  margin: 1rem 4rem;
  width: 130px;
  height: 125px;
  border: 1.5px solid #999999;
  border-radius: 20px;
}
.navbar-links ul {
  margin: 0;
  padding-right: 1.5rem;
  display: flex;
  gap: 1rem;
  list-style-type: none;
  font-family: Lato, Heebo, Karla;
}
.navbar-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}
.navbar-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #d3468f;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar-links ul li:hover::after {
  width: 100%;
}
#responMenuToggleBtn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 0;
  right: 0;
}
#responMenuToggleBtn svg {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  color: black;
  top: 0.75rem;
  right: 0.75rem;
}
#responMenuToggleBtn .openIcon {
  display: block;
}
#responMenuToggleBtn .closeIcon {
  display: none;
}
#responMenuToggleBtn.open .openIcon {
  display: none;
}
#responMenuToggleBtn.open .closeIcon {
  display: block;
}
@media screen and (max-width: 770px) {
  #responMenuToggleBtn {
    display: block;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    display: none;
    width: 100%;
  }
  .navbar-links.open {
    display: block;
  }
  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    border: 1px dashed;
    border-radius: 2px;
    font-weight: 700;
    background-color: #faf8f5;
  }
  .navbar-links ul li:hover::after {
    width: auto;
  }
}
.intro * {
  margin: 0;
  font-family: Heebo;
}
.intro {
  display: flex;
  flex-direction: row;
  column-gap: 1%;
}
h1 {
  font-family: "Rampart One";
  font-size: 55px;
  padding-bottom: 0.5%;
  text-align: center;
  text-shadow: 2px 1px 1px #d3468f;
}
.intro .intro-content {
  display: flex;
  flex-flow: column wrap;
  font-family: Heebo;
  font-weight: 800;
  line-height: 2.2rem;
  letter-spacing: 1px;
  font-size: large;
}
.intro .intro-content p {
  position: relative;
  margin-left: 50px;
}
.intro .intro-content ul li {
  padding: 0.6%;
  margin-left: 35px;
  list-style: circle;
}
.intro img {
  border: 4px solid #fefad1;
  outline-style: solid;
  outline-color: #0042be;
  border-radius: 10px;
  height: 390px;
}
@media (max-width: 1140px) {
  h1 {
    font-size: 45px;
    text-align: center;
  }
  .intro {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .intro-content p,
  ul li {
    font-size: 18px;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 1px;
  }
  .intro img {
    margin-left: 6%;
    margin-bottom: 4%;
    width: 90%;
    height: auto;
  }
}
.tabs-descrip {
  font-family: Heebo;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5% 4%;
  font-weight: 800;
  line-height: 2.2rem;
  letter-spacing: 1px;
  font-size: large;
}
.tabs-descrip h2 {
  font-weight: 800;
  font-family: "Rampart One", cursive;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 36px;
  letter-spacing: 0.17rem;
}
.tabs-descrip p {
  font-family: Heebo;
  width: auto;
  font-size: 17px;
  text-align: justify;
  letter-spacing: 1px;
}
.container {
  height: 480px;
  margin: 0% 4%;
  padding: 60px 10px 35px;
  text-decoration: none;
  background-color: #cfd9ff;
  border: 2px solid #fefad1;
  border-radius: 25px;
}
.row {
  margin: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 350px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 25px 80px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  outline-style: solid;
  outline-color: #d3468f;
}
.container .card:hover {
  height: 395px;
}
.container .card .tabsPic {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  border-radius: 12px;
  overflow: visible;
  transition: 0.5s;
}
.container .card:hover .tabsPic {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container .card .tabsPic img {
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  outline-style: solid;
  outline-color: #fefad1;
}
.container .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  overflow: hidden;
  padding-bottom: 30px;
  text-align: center;
  transition: 0.5s;
}
.container .card .content h3 {
  font-size: 21px;
  font-family: Lato, Heebo, Karla;
  font-weight: 900;
  color: black;
  letter-spacing: 1.5px;
  text-shadow: 1px 0.3px 0.5px #3c80ff;
}
.container .card .content p {
  font-family: Heebo;
  margin: 4%;
  text-align: center;
}
.container .card:hover .content {
  top: 130px;
  height: 250px;
}
.container .card .content a {
  top: 15px;
  display: block;
  text-decoration: none;
  padding-top: 4%;
}
.container .row .card .content::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #d3468f;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.container .row .card .content:hover::after {
  width: 25%;
}
@media (max-width: 948px) {
  .container {
    height: 135vh;
  }
  .row {
    gap: 20px;
  }
  .container .card {
    margin: 45px 0px 20px;
  }
}
.footer {
  width: 100%;
  height: fit-content;
  text-align: center;
  padding: 30px 0;
}
.icons .fa {
  color: #d3468f;
  margin: 0 14px;
  cursor: pointer;
  padding: 18px 0;
  text-decoration: none;
}
.fa-heart-o {
  color: #0042be;
}

/* * * Educational Journey CSS * * */
#educBody {
  margin: 0.5rem 2rem;
  padding: 0;
  background-color: #dae1eb;
  font-family: Lato, "Heebo", "Karla";
}
.edu-header1 {
  font-family: "Rampart One";
  font-size: 55px;
  text-align: center;
  text-shadow: 2px 1px 1px #e88474;
}
.self-intro-card {
  min-width: 25%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  transition: 0.3s;
  border-radius: 5px;
  padding: 35px 25px;
  background-color: #faf3f1;
  margin: auto;
  display: flex;
  flex-direction: column;
  line-height: 28px;
  letter-spacing: 1.5px;
}
.row .self-intro-card h3 {
  text-align: center;
  font-family: Heebo, Lato;
  font-weight: 900;
  font-size: 1.5rem;
  text-shadow: 2px 2px #aacccb;
  border-style: outset;
  border-color: #ecd7d2;
}
.self-intro-card ul li {
  text-align: justify;
  list-style-type: circle;
  margin: 0;
  font-size: 1.1em;
  font-family: Heebo, Lato, Karla;
}
.self-intro-card img {
  align-self: center;
  border-radius: 2px;
  border: 1px solid black;
}
@media (max-width: 1060px) {
  .self-intro-card {
    flex-shrink: 3;
  }
  .self-intro-card img {
    width: 300px;
  }
}
.about-content {
  max-width: 50%;
  line-height: 40px;
  letter-spacing: 1.5px;
}
.about-content h3 {
  font-weight: 900;
  font-size: 1.19em;
  font-family: Heebo;
}
.about-content h2 {
  display: block;
  font-size: 2.2em;
  font-weight: 700;
  font-family: "Rampart One", cursive;
  letter-spacing: 0.17rem;
}
.about-content ul a {
  text-decoration: none;
  font-family: Lato;
}
.about-content ul a:hover {
  background: #e88474;
}
#linkedIn {
  list-style-image: url(Images/linkedin.png);
}
#gitHub {
  list-style-image: url(Images/github2.png);
}
#email {
  list-style-image: url(Images/email.png);
}
.proj-title {
  text-align: center;
  font-weight: 800;
  font-family: "Rampart One", cursive;
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 36px;
  letter-spacing: 0.17rem;
}
.projects {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-evenly;
  row-gap: 2em;
  padding-top: 1%;
  margin-bottom: 5%;
}
.projects a {
  max-width: 300px;
  min-height: 200px;
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.projects a:hover {
  color: #e88474;
}
.projects img {
  border: double 4px #e88474;
  border-radius: 1em;
  object-fit: cover;
}
@media (max-width: 1180px) {
  .projects {
    column-gap: 30px;
  }
}

/* * * CS Tracks * * */
#tracksBody {
  background-color: #d5e1d1;
}
.tracks-header1 {
  font-family: "Rampart One";
  font-size: 55px;
  text-align: center;
  text-shadow: 3px 0.8px 0.8px #a382ae;
}
.tracks-conatiner {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: solid black;
  margin: 1% 5%;
  justify-content: center;
  padding: 10px 20px;
}
.tracks-conatiner h2 {
  font-size: 2em;
  font-weight: 700;
  font-family: "Rampart One", cursive;
  letter-spacing: 0.17rem;
  text-align: center;
  margin: 2% 26%;
  padding-left: 90px;
}
.column {
  width: 30%;
  padding: 0 10px;
  font-family: Heebo;
}
.trackCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  padding: 14px;
  text-align: center;
  border-radius: 6px;
  border: 2px dashed #a382ae;
  background-color: #f1f1f1;
  height: 55vh;
  margin-bottom: 5%;
}
.tracks-conatiner .column .trackCard h4 {
  border: 1.5px outset #a382ae;
  border-radius: 5px;
  font-size: Lato;
  text-shadow: 3px 2px #f5ffe3;
  font-size: 1.1rem;
  font-weight: 700;
}
.tracks-conatiner .column .trackCard ul li {
  text-align: justify;
  list-style-type: circle;
  margin: 0;
  font-size: 1.1em;
  margin-top: 0;
  font-family: Heebo, Lato, Karla;
}
.tracks-conatiner .column .trackCard ul li a {
  text-decoration: none;
  font-size: 18px;
}
.trackCard ul li a:link {
  color: black;
}
.trackCard ul li a:visited {
  color: #660066;
}
.trackCard ul li a:hover {
  color: hotpink;
  background: #e1d1db;
}
.trackCard ul li a:active {
  color: #885df1;
}
@media (max-width: 1170px) {
  .tracks-conatiner {
    display: flex;
    flex-direction: column;
    gap: 9px;
    justify-content: center;
    margin: 2% 9%;
  }
  .trackCard {
    height: 65vh;
    margin-bottom: 5%;
    width: 300px;
  }
  .tracks-conatiner h2 {
    font-size: 2em;
    font-weight: 700;
    font-family: "Rampart One", cursive;
    letter-spacing: 0.17rem;
    text-align: center;
    margin: 2% 19% 2% 1%;
    padding-left: 90px;
  }
  .column {
    margin-right: 30%;
  }
  .tracks-conatiner .column .trackCard h4 {
    font-size: 1rem;
  }
  .tracks-conatiner .column .trackCard ul li a {
    text-decoration: none;
    font-size: 16px;
  }
}
